.brand-container {
    width: 50%;
    height: 50%;
    margin: auto;
}

.top-buffer {
    margin-top: 240px;
}

.col-buffer-sm {
    margin-top: 240px;
}

.footer-spacing {
    margin-top: 120px;
}

header {
    background: white;
    height: 30vh;
    background-size: cover;
}

.page-title {
    font-family: 'Alata';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #4A2815;
    font-weight: 400;
    font-size: 3.5rem;
}

.title-section {
    width: 100%;
    height: 30vh;
    background: linear-gradient(rgb(255, 255, 255), #FEF7F7);
}

.wrap {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.row-spacing {
    margin-top: 80px;
}

.brands-text {
    background-image: url(../images/background/solid-surface-corian-sand-storm.jpg);
    background-size: cover;
    height: 40vh;
    width: 100%;
}

@media(min-width: 760px) {
    .col-buffer-sm {
        margin-top: 0px;
    }
    .footer-spacing {
        margin-top: 120px;
    }
}