header {
    background-image: url(../images/background/WhatsApp\ Image\ 2021-02-10\ at\ 15.14.46.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;
    height: 75vh;
}

.partners {
    height: max-content;
    margin-top: 60px;
}

.title-highlight {
    font-family: 'Alata';
    color: #4A2815;
    font-size: 50px;
}