header {
    background: url("../images/background/WhatsApp\ Image\ 2021-02-10\ at\ 15.14.47\ \(3\).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: 30% 30%;
}